In [1]:
import pandas as pd
from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [2]:
# Load the decomposed data
df = pd.read_csv("eng_pp_9523_eda_pivoted.csv")

In [3]:
df.head()

,Unnamed: 0,Year,Month,price,Old/New,Detached,Semi-detached,Terraced,Flat,Others,Street,Locality,Town/City,District,County
0,0,1995,February,44500,N,0,0,1,0,0,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR
1,1,1995,January,56500,N,0,0,1,0,0,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX
2,2,1995,July,58000,N,0,0,1,0,0,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS
3,3,1995,June,51000,N,0,1,0,0,0,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS
4,4,1995,March,17000,N,0,0,1,0,0,DENMAN STREET,ROTHERHAM,ROTHERHAM,ROTHERHAM,SOUTH YORKSHIRE

In [4]:
# Select trend component
terraced = df["Terraced"]

# Define the exponential smoothing model (multiplicative or additive based on data characteristics)
model = ExponentialSmoothing(terraced, trend="additive", seasonal_periods = 12)  # Adjust for multiplicative if needed

# You can also experiment with different smoothing parameters (alpha, beta, gamma)

In [5]:
# Fit the model
model_fit = model.fit()

In [6]:
# Predict future values (specify desired number of predictions)
future_predictions = model_fit.forecast(steps=13)

In [7]:
# Print the predicted trend values
print(f"Predicted future trend values: {future_predictions}")

Predicted future trend values: 22653986    0.207073
22653987    0.206928
22653988    0.206782
22653989    0.206637
22653990    0.206492
22653991    0.206347
22653992    0.206202
22653993    0.206056
22653994    0.205911
22653995    0.205766
22653996    0.205621
22653997    0.205476
22653998    0.205330
dtype: float64