In [1]:
import pandas as pd

In [3]:
# Read the CSV data into a DataFrame using 'parse_dates' to parse the date column
df = pd.read_csv('ts_detached.csv', index_col='Date', parse_dates=True)

In [4]:
# Resample by month with sum aggreagation on 'Detached' column
df_resampled = df.resample('M')['Detached'].sum()

In [8]:
ts_detached = pd.DataFrame(df_resampled)

In [9]:
ts_detached

            Detached
Date
1995-01-31      9473
1995-02-28      9667
1995-03-31     13431
1995-04-30     11929
1995-05-31     13169
...              ...
2023-07-31      8053
2023-08-31      8893
2023-09-30      6916
2023-10-31      3206
2023-11-30      1546

[347 rows x 1 columns]

In [5]:
# Print the result (monthly sum of Detached property sold)
print(df_resampled)

Date
1995-01-31     9473
1995-02-28     9667
1995-03-31    13431
1995-04-30    11929
1995-05-31    13169
              ...
2023-07-31     8053
2023-08-31     8893
2023-09-30     6916
2023-10-31     3206
2023-11-30     1546
Freq: M, Name: Detached, Length: 347, dtype: int64

In [7]:
df_resampled.dtypes

dtype('int64')