In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ukhousing_1995_2023.csv", header= None)

In [3]:
df.columns=['Transaction_unique_identifier', 'price', 'Date_of_Transfer',
'postcode', 'Property_Type', 'Old/New',
'Duration', 'PAON', 'SAON',
'Street', 'Locality', 'Town/City',
'District', 'County', 'PPDCategory_Type',
'Record_Status - monthly_file_only'
]

In [4]:
df.shape

(28782630, 16)

In [5]:
df.head()

,Transaction_unique_identifier,price,Date_of_Transfer,postcode,Property_Type,Old/New,Duration,PAON,SAON,Street,Locality,Town/City,District,County,PPDCategory_Type,Record_Status - monthly_file_only
0,{F887F88E-7D15-4415-804E-52EAC2F10958},70000,1995-07-07 00:00,MK15 9HP,D,N,F,31,NaN,ALDRICH DRIVE,WILLEN,MILTON KEYNES,MILTON KEYNES,MILTON KEYNES,A,A
1,{40FD4DF2-5362-407C-92BC-566E2CCE89E9},44500,1995-02-03 00:00,SR6 0AQ,T,N,F,50,NaN,HOWICK PARK,SUNDERLAND,SUNDERLAND,SUNDERLAND,TYNE AND WEAR,A,A
2,{7A99F89E-7D81-4E45-ABD5-566E49A045EA},56500,1995-01-13 00:00,CO6 1SQ,T,N,F,19,NaN,BRICK KILN CLOSE,COGGESHALL,COLCHESTER,BRAINTREE,ESSEX,A,A
3,{28225260-E61C-4E57-8B56-566E5285B1C1},58000,1995-07-28 00:00,B90 4TG,T,N,F,37,NaN,RAINSBROOK DRIVE,SHIRLEY,SOLIHULL,SOLIHULL,WEST MIDLANDS,A,A
4,{444D34D7-9BA6-43A7-B695-4F48980E0176},51000,1995-06-28 00:00,DY5 1SA,S,N,F,59,NaN,MERRY HILL,BRIERLEY HILL,BRIERLEY HILL,DUDLEY,WEST MIDLANDS,A,A

In [6]:
# Extracting data for only England from the dataset

# Define a list of counties in England
england_counties = ['BEDFORDSHIRE', 'BERKSHIRE', 'BRISTOL', 'BUCKINGHAMSHIRE', 'CAMBRIDGESHIRE', 'CHESHIRE', 'CITY OF LONDON', 
                    'CORNWALL', 'CUMBRIA', 'DERBYSHIRE', 'DEVON', 'DORSET', 'DURHAM', 'EAST RIDING OF YORKSHIRE', 
                    'EAST SUSSEX', 'ESSEX', 'GLOUCESTERSHIRE', 'GREATER LONDON', 'GREATER MANCHESTER', 'HAMPSHIRE', 
                    'HEREFORDSHIRE', 'HERTFORDSHIRE', 'ISLE OF WIGHT', 'KENT', 'LANCASHIRE', 'LEICESTERSHIRE', 'LINCOLNSHIRE',
                    'MERSEYSIDE', 'NORFOLK', 'NORTH YORKSHIRE', 'NORTHAMPTONSHIRE', 'NORTHUMBERLAND', 'NOTTINGHAMSHIRE', 
                    'OXFORDSHIRE', 'RUTLAND', 'SHROPSHIRE', 'SOMERSET', 'SOUTH YORKSHIRE', 'STAFFORDSHIRE', 'SUFFOLK', 
                    'SURREY', 'TYNE AND WEAR', 'WARWICKSHIRE', 'WEST MIDLANDS', 'WEST SUSSEX', 'WEST YORKSHIRE', 'WILTSHIRE', 
                    'WORCESTERSHIRE']

# Filter the dataset for England counties
england_data = df[df['County'].isin(england_counties)]

# Save the extracted dataset to a new CSV file
england_data.to_csv('eng_pp_9523.csv', index=False)