In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('eng_pp_9523_eda_pivoted.csv')

In [3]:
# Calculate year with the highest number of transactions
year_highest_transactions = df['Year'].value_counts().idxmax()
year_lowest_transactions = df['Year'].value_counts().idxmin()

#year_highest_transactions_number = df['Year'].value_counts()
#year_lowest_transactions_number = df['Year'].value_counts()

# Print result
print(f"Year with the Highest Number of Transactions: {year_highest_transactions}")
print(f"Year with the Lowest Number of Transactions: {year_lowest_transactions}")

#print(f"Highest Number of Transactions: {year_highest_transactions_number}")
#print(f"Lowest Number of Transactions: {year_lowest_transactions_number}")

Year with the Highest Number of Transactions: 2002
Year with the Lowest Number of Transactions: 2023